*.log                                   # .logで終わるファイルを無視(ログファイル)
*.swp                                   # .swpで終わるファイルを無視(一時ファイル)
*~                                      # ~で終わるファイルを無視(一時ファイル)
/TODO                                   # ルートディレクトリに置かれたTODOファイルを無視
.*                                      # .で始まるファイルを無視(隠しファイル)
