<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>registration complete</title>
</head>
<body>

<h1>registration complete!!</h1>
<div>
    <p>Now, you are a member of our website!!<% if(typeof user !== "undefined"){ %><%= user %>!!!!<% } %></p><br>
    <p>Let's get it started!!!!</p>

    <button><a href="/">Go to top page!!</a></button>
</div>
</body>
</html>