<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>user</title>
    <style>
        .confirm{
            color : blue;
        }
    </style>
</head>
<body>

<h1>Confirm what you input!!</h1>

<form action="registry" method="post">
    <div>
        <ul>
            <div><h2>If it's okay, click submit button to register!!</h2></div>

            <li>mail : <% if(typeof user !== "undefined"){ %><span class="confirm"><%= user %></span><br><% } %></li>
            <li>pass : <% if(typeof pw   !== "undefined"){ %><span class="confirm"><%= pw %></span><br><% } %></li>

            <button onclick="javascript:location.href ='registry'">back</button>
            <input type="submit" value="submit!!">
        </ul>
    </div>
</form>

</body>
</html>
