<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>user</title>
</head>
<body>
<div>
  <h1>Hey Buddy!!</h1>
  <p><a href="login">Go to login page!!</a></p>
  <p><a href="registry">Go to user registry page!!</a></p>
</div>

</body>
</html>