<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>user</title>
    <style>
        .err{
            color : red;
        }
    </style>
</head>
<body>

<h1>Registration!!</h1>

<form action="registry" method="post">
    <div>
        <ul>
            <div><h2>input followings and click next</h2></div>
            <li>mail : <input type="text" name="user"></li>

            <% if(typeof mail_err !== "undefined"){ %><span class="err"><%= mail_err %></span><br><% } %>

            <li>pass : <input type="password" name="pw"></li>

            <% if(typeof pw_length !== "undefined"){ %><span class="err"><%= pw_length %></span><br><% } %>
            <% if(typeof pw_format !== "undefined"){ %><span class="err"><%= pw_format %></span><br><% } %>

            <input type="submit" value="next!!">
        </ul>
    </div>
</form>

</body>
</html>
